body {
  height: 100vh;
  background-color: #F6F5F5;
  display: flex;
  justify-content: center;
}
h1{
  font-size: 38px;
  text-align: center;
}
.whole{
  width: 50%;
}
/*
div {
  border: 3px solid white;
  background-color: #FF6347;
  height: 400px;
  width: 200px;
}

div div {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: white;
  width: 200px;
  height: 100px;
  font-weight: bold;
}

div div span {
  margin-left: 5px;
  top: 20px;
  padding-top: 10px;
} */